

  .frame-1437252859 .desktop-2 {
    background: #191a1a;
    border-radius: 15px;
    width: 80%;
    height: 100vh;
    position: absolute;
    left: 20%;
    /* top: 14px; */
    overflow: hidden;
  }
  .frame-1437252859 .frame-14372528478 {
    background: #202222;
    border-radius: 15px;
    border-style: solid;
    border-color: #3d3f40;
    border-width: 1px;
    padding: 9px 17px 9px 17px;
    display: flex;
    flex-direction: row;
    gap: 493px;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    left: 56px;
    top: 45px;
    overflow: hidden;
  }
  .frame-1437252859 .frame-42-2 {
    display: flex;
    flex-direction: row;
    gap: 14px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
  }
  .frame-1437252859 .group-14372528267 {
    flex-shrink: 0;
    width: 23px;
    height: 34px;
    position: static;
  }
  .frame-1437252859 .group-14372528256 {
    width: 23px;
    height: 34px;
    position: static;
  }
  .frame-1437252859 .div-emoji {
    color: #000000;
    text-align: left;
    font-family: "MierA-Book", sans-serif;
    font-size: 15.399995803833008px;
    line-height: 22px;
    font-weight: 400;
    position: absolute;
    left: 4px;
    top: 12px;
    filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .frame-1437252859 .div2-emoji {
    color: #000000;
    text-align: left;
    font-family: "MierA-Book", sans-serif;
    font-size: 22.399993896484375px;
    line-height: 32px;
    font-weight: 400;
    position: absolute;
    left: 0px;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .frame-1437252859 .boundary-pizza-for-kohli-s-hits2 {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .frame-1437252859 .frame-39-2 {
    background: #2f302f;
    border-radius: 38.75px;
    padding: 6.46px;
    display: flex;
    flex-direction: row;
    gap: 6.46px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 31px;
    height: 31px;
    position: relative;
  }
  .frame-1437252859 .edit {
    flex-shrink: 0;
    width: 11.63px;
    height: 11.62px;
    position: relative;
    overflow: visible;
  }
  .frame-1437252859 .frame-1437252856 {
    background: #202222;
    border-radius: 15px;
    border-style: solid;
    border-color: #3d3f40;
    border-width: 1px;
    padding: 9px 17px 9px 17px;
    width: 837px;
    height: 52px;
    position: absolute;
    left: 56px;
    top: 580px;
    overflow: hidden;
  }
  .frame-1437252859 .frame-4222 {
    display: flex;
    flex-direction: row;
    gap: 14px;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 17px;
    top: 9px;
  }
  .frame-1437252859 .what-s-in-your-mind-2 {
    outline: none;
    width: 730px;
    color: #ffffff;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 14px;
    line-height: 30px;
    font-weight: 400;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .frame-1437252859 .frame-392 {
    background: #2f302f;
    border-radius: 38.75px;
    padding: 6.46px;
    display: flex;
    flex-direction: row;
    gap: 6.46px;
    align-items: center;
    justify-content: center;
    width: 31px;
    height: 31px;
    position: absolute;
    left: 789px;
    top: 10.5px;
  }
  .frame-1437252859 .vuesax-linear-send-2-instance-2 {
    flex-shrink: 0 !important;
    width: 15.5px !important;
    height: 15.5px !important;
  }
  .frame-1437252859 .frame-1437252854 {
    display: flex;
    flex-direction: row;
    gap: 14px;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    left: 56px;
    top: 121px;
  }
  .frame-1437252859 .div-sc-d-yz-w-wc {
    border-radius: 8px;
    border-style: solid;
    border-color: #919191;
    border-width: 0.5px;
    flex-shrink: 0;
    width: 81px;
    height: 37px;
    position: relative;
    box-shadow: 0px 1px 2px 0px rgba(54, 54, 54, 0.06);
  }
  .frame-1437252859 .img {
    width: 18px;
    height: 18px;
    position: absolute;
    left: 9px;
    top: calc(50% - 9px);
    overflow: visible;
  }
  .frame-1437252859 .filters {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 14px;
    font-weight: 500;
    position: absolute;
    left: 32px;
    top: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .frame-1437252859 .div-sc-d-yz-w-wc2 {
    border-radius: 8px;
    border-style: solid;
    border-color: #919191;
    border-width: 0.5px;
    flex-shrink: 0;
    width: 96.94px;
    height: 37px;
    position: relative;
    box-shadow: 0px 1px 2px 0px rgba(54, 54, 54, 0.06);
  }
  .frame-1437252859 .rating-4-0 {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 14px;
    font-weight: 500;
    position: absolute;
    left: 9px;
    top: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .frame-1437252859 .div-sc-d-yz-w-wc3 {
    border-radius: 8px;
    border-style: solid;
    border-color: #919191;
    border-width: 0.5px;
    flex-shrink: 0;
    width: 79.19px;
    height: 37px;
    position: relative;
    box-shadow: 0px 1px 2px 0px rgba(54, 54, 54, 0.06);
  }
  .frame-1437252859 .pure-veg {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 14px;
    font-weight: 500;
    position: absolute;
    left: 9px;
    top: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .frame-1437252859 .nov-veg {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 14px;
    font-weight: 500;
    position: absolute;
    left: 9px;
    top: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .frame-1437252859 .frame-1437252855 {
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    left: 56px;
    top: 182px;
  }
  .frame-1437252859 .card-7 {
    flex-shrink: 0;
    width: 220px;
    height: 187px;
    position: static;
  }
  .frame-1437252859 .bg {
    background: var(--white-6, rgba(255, 255, 255, 0.06));
    border-radius: 12px;
    width: 220px;
    height: 195px;
    position: absolute;
    left: 0px;
    top: 0px;
  }
  .frame-1437252859 .frame-3009 {
    width: 196px;
    height: 170px;
    position: absolute;
    left: 15px;
    top: 14px;
  }
  .frame-1437252859 .frame-3010 {
    background: rgba(241, 158, 56, 0.06);
    border-radius: 22px;
    padding: 2px 6px 2px 6px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0px;
    top: 0px;
  }
  .frame-1437252859 .best-match {
    color: #38f156;
    text-align: left;
    font-family: "AnonymousPro-Regular", sans-serif;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    position: relative;
  }
  .frame-1437252859 .frame-3006 {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    left: 0px;
    top: 23px;
  }
  .frame-1437252859 .headphone-image {
    flex-shrink: 0;
    width: 48px;
    height: 48px;
    position: static;
  }
  .frame-1437252859 .bg2 {
    border-radius: 12px;
    width: 48px;
    height: 48px;
    position: absolute;
    left: 0px;
    top: 0px;
    object-fit: cover;
  }
  .frame-1437252859 .frame-3005 {
    padding: 4px 0px 4px 0px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
  }
  .frame-1437252859 .frame-3013 {
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
  }
  .frame-1437252859 .margherita-pizza {
    color: var(--white-100, #ffffff);
    text-align: center;
    font-family: "Inter-Regular", sans-serif;
    font-size: 16px;
    font-weight: 400;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .frame-1437252859 .frame-3007 {
    padding: 4px 0px 0px 0px;
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
  }
  .frame-1437252859 .star-2 {
    flex-shrink: 0;
    width: 8.53px;
    height: 8px;
    position: relative;
    overflow: hidden;
  }
  .frame-1437252859 ._2 {
    height: auto;
    position: absolute;
    left: 0px;
    top: 0.01px;
    overflow: visible;
  }
  .frame-1437252859 ._4-4-11186-reviews {
    color: var(--white-48, rgba(255, 255, 255, 0.48));
    text-align: center;
    font-family: "Inter-Medium", sans-serif;
    font-size: 8px;
    font-weight: 500;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .frame-1437252859
    .a-classic-cheesy-margherita-cant-go-wrong-fat-14-3-per-100-g-protein-12-6-per-100-g-carbohydrate-39-2-per-g-read-more {
    text-align: left;
    position: absolute;
    left: 0px;
    top: 79px;
    width: 196px;
  }
  .a-classic-cheesy-margherita-cant-go-wrong-fat-14-3-per-100-g-protein-12-6-per-100-g-carbohydrate-39-2-per-g-read-more-span {
    color: var(--white-100, #ffffff);
    font-family: "Inter-Regular", sans-serif;
    font-size: 10px;
    font-weight: 400;
  }
  .a-classic-cheesy-margherita-cant-go-wrong-fat-14-3-per-100-g-protein-12-6-per-100-g-carbohydrate-39-2-per-g-read-more-span2 {
    color: #9b9da6;
    font-family: "Inter-Regular", sans-serif;
    font-size: 10px;
    font-weight: 400;
  }
  .a-classic-cheesy-margherita-cant-go-wrong-fat-14-3-per-100-g-protein-12-6-per-100-g-carbohydrate-39-2-per-g-read-more-span3 {
    color: #9b9da6;
    font-family: "Inter-Regular", sans-serif;
    font-size: 11px;
    font-weight: 400;
    text-decoration: underline;
  }
  .a-classic-cheesy-margherita-cant-go-wrong-fat-14-3-per-100-g-protein-12-6-per-100-g-carbohydrate-39-2-per-g-read-more-span4 {
    color: #9b9da6;
    font-family: "Inter-Regular", sans-serif;
    font-size: 11px;
    font-weight: 400;
  }
  .frame-1437252859 .frame-3008 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 190px;
    position: absolute;
    left: 0px;
    top: 137px;
  }
  .frame-1437252859 .more-details {
    color: #ffffff;
    text-align: center;
    font-family: "Inter-Regular", sans-serif;
    font-size: 11px;
    font-weight: 400;
    text-decoration: underline;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .frame-1437252859 .frame-2999 {
    background: #38f156;
    border-radius: 6px;
    padding: 4px 9px 4px 9px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
  }
  .frame-1437252859 ._182 {
    color: var(--black, #2b2c33);
    text-align: center;
    font-family: "Inter-Regular", sans-serif;
    font-size: 12px;
    font-weight: 400;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .frame-1437252859 .image-76 {
    border-radius: 0px 9px 0px 0px;
    width: 63px;
    height: 29px;
    position: absolute;
    left: 142px;
    top: -14px;
    object-fit: cover;
  }
  .frame-1437252859 .card-8 {
    flex-shrink: 0;
    width: 220px;
    height: 187px;
    position: static;
  }
  .frame-1437252859 .bg3 {
    background: var(--white-6, rgba(255, 255, 255, 0.06));
    border-radius: 12px;
    width: 220px;
    height: 187px;
    position: absolute;
    left: 244px;
    top: 0px;
  }
  .frame-1437252859 .frame-30092 {
    width: 196px;
    height: 160px;
    position: absolute;
    left: 259px;
    top: 14px;
  }
  .frame-1437252859 .best-match2 {
    color: #38f156;
    text-align: left;
    font-family: "AnonymousPro-Regular", sans-serif;
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    position: relative;
  }
  .frame-1437252859 ._22 {
    height: auto;
    position: absolute;
    left: 0px;
    top: 0.01px;
    overflow: visible;
  }
  .a-classic-cheesy-margherita-cant-go-wrong-fat-14-3-per-100-g-protein-12-6-per-100-g-carbohydrate-39-2-per-g-read-more-span5 {
    color: var(--white-100, #ffffff);
    font-family: "Inter-Regular", sans-serif;
    font-size: 10px;
    font-weight: 400;
  }
  .a-classic-cheesy-margherita-cant-go-wrong-fat-14-3-per-100-g-protein-12-6-per-100-g-carbohydrate-39-2-per-g-read-more-span6 {
    color: #9b9da6;
    font-family: "Inter-Regular", sans-serif;
    font-size: 10px;
    font-weight: 400;
  }
  .a-classic-cheesy-margherita-cant-go-wrong-fat-14-3-per-100-g-protein-12-6-per-100-g-carbohydrate-39-2-per-g-read-more-span7 {
    color: #9b9da6;
    font-family: "Inter-Regular", sans-serif;
    font-size: 11px;
    font-weight: 400;
    text-decoration: underline;
  }
  .a-classic-cheesy-margherita-cant-go-wrong-fat-14-3-per-100-g-protein-12-6-per-100-g-carbohydrate-39-2-per-g-read-more-span8 {
    color: #9b9da6;
    font-family: "Inter-Regular", sans-serif;
    font-size: 11px;
    font-weight: 400;
  }
  .frame-1437252859 ._180 {
    color: var(--black, #2b2c33);
    text-align: center;
    font-family: "Inter-Regular", sans-serif;
    font-size: 12px;
    font-weight: 400;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .frame-1437252859 .image-71 {
    border-radius: 0px 9px 0px 0px;
    width: 63px;
    height: 29px;
    position: absolute;
    left: 142px;
    top: -14px;
    object-fit: cover;
  }
  .frame-1437252859 .card-9 {
    flex-shrink: 0;
    width: 220px;
    height: 187px;
    position: static;
  }
  .frame-1437252859 .bg4 {
    background: var(--white-6, rgba(255, 255, 255, 0.06));
    border-radius: 12px;
    width: 220px;
    height: 187px;
    position: absolute;
    left: 488px;
    top: 0px;
  }
  .frame-1437252859 .frame-30093 {
    width: 196px;
    height: 160px;
    position: absolute;
    left: 503px;
    top: 14px;
  }
  .frame-1437252859 ._23 {
    height: auto;
    position: absolute;
    left: 0px;
    top: 0.01px;
    overflow: visible;
  }
  .a-classic-cheesy-margherita-cant-go-wrong-fat-14-3-per-100-g-protein-12-6-per-100-g-carbohydrate-39-2-per-g-read-more-span9 {
    color: var(--white-100, #ffffff);
    font-family: "Inter-Regular", sans-serif;
    font-size: 10px;
    font-weight: 400;
  }
  .a-classic-cheesy-margherita-cant-go-wrong-fat-14-3-per-100-g-protein-12-6-per-100-g-carbohydrate-39-2-per-g-read-more-span10 {
    color: #9b9da6;
    font-family: "Inter-Regular", sans-serif;
    font-size: 10px;
    font-weight: 400;
  }
  .a-classic-cheesy-margherita-cant-go-wrong-fat-14-3-per-100-g-protein-12-6-per-100-g-carbohydrate-39-2-per-g-read-more-span11 {
    color: #9b9da6;
    font-family: "Inter-Regular", sans-serif;
    font-size: 11px;
    font-weight: 400;
    text-decoration: underline;
  }
  .a-classic-cheesy-margherita-cant-go-wrong-fat-14-3-per-100-g-protein-12-6-per-100-g-carbohydrate-39-2-per-g-read-more-span12 {
    color: #9b9da6;
    font-family: "Inter-Regular", sans-serif;
    font-size: 11px;
    font-weight: 400;
  }
  .frame-1437252859 ._200 {
    color: var(--black, #2b2c33);
    text-align: center;
    font-family: "Inter-Regular", sans-serif;
    font-size: 12px;
    font-weight: 400;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .frame-1437252859 .card-10 {
    flex-shrink: 0;
    width: 220px;
    height: 187px;
    position: static;
  }
  .frame-1437252859 .bg5 {
    background: var(--white-6, rgba(255, 255, 255, 0.06));
    border-radius: 12px;
    width: 220px;
    height: 187px;
    position: absolute;
    left: 732px;
    top: 0px;
  }
  .frame-1437252859 .frame-30094 {
    width: 196px;
    height: 160px;
    position: absolute;
    left: 747px;
    top: 14px;
  }
  .frame-1437252859 ._24 {
    height: auto;
    position: absolute;
    left: 0px;
    top: 0.01px;
    overflow: visible;
  }
  .a-classic-cheesy-margherita-cant-go-wrong-fat-14-3-per-100-g-protein-12-6-per-100-g-carbohydrate-39-2-per-g-read-more-span13 {
    color: var(--white-100, #ffffff);
    font-family: "Inter-Regular", sans-serif;
    font-size: 10px;
    font-weight: 400;
  }
  .a-classic-cheesy-margherita-cant-go-wrong-fat-14-3-per-100-g-protein-12-6-per-100-g-carbohydrate-39-2-per-g-read-more-span14 {
    color: #9b9da6;
    font-family: "Inter-Regular", sans-serif;
    font-size: 10px;
    font-weight: 400;
  }
  .a-classic-cheesy-margherita-cant-go-wrong-fat-14-3-per-100-g-protein-12-6-per-100-g-carbohydrate-39-2-per-g-read-more-span15 {
    color: #9b9da6;
    font-family: "Inter-Regular", sans-serif;
    font-size: 11px;
    font-weight: 400;
    text-decoration: underline;
  }
  .a-classic-cheesy-margherita-cant-go-wrong-fat-14-3-per-100-g-protein-12-6-per-100-g-carbohydrate-39-2-per-g-read-more-span16 {
    color: #9b9da6;
    font-family: "Inter-Regular", sans-serif;
    font-size: 11px;
    font-weight: 400;
  }
  .frame-1437252859 ._199 {
    color: var(--black, #2b2c33);
    text-align: center;
    font-family: "Inter-Regular", sans-serif;
    font-size: 12px;
    font-weight: 400;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  